extends ../layouts/default

block content
  include ../partials/index/banner
  include ../partials/index/packages
  
  section.informations
    +service-block(
    'Company Formation Worldwide',
    'images/info.png',
    'Startingfrom $560',
    '#',
    [
      'Available across 5 continents, in 50+ countries',
      'Corporate packages to start your business right away',
      'Company administration and expert legal support',
    ])
    +service-block(
    'Bank Account Opening',
    'images/info.png',
    'Starting from $400',
    '#',
    [
      'Available across 5 continents, in 50+ countries',
      'Corporate packages to start your business right away',
      'Company administration and expert legal support',
    ])
    +service-block(
    'Trademark Registration & Expert Assistance',
    'images/info.png',
    '',
    '#',
    [
      'Available across 5 continents, in 50+ countries',
      'Corporate packages to start your business right away',
      'Company administration and expert legal support',
    ])

  section.packages
    .container
      h2
        span Why Choose Us
        a(href='index.html#') Learn About us
      .row
        .col-md-3.col-xs-6.about-block
          .package
            .img
              img(src='images/vsec.png')
            h6 SECURE & TRUSTWORTHY
            p
              | Our qualified agents will assist you throughout the entire process to ensure that you get the
              | highest quality service.
        .col-md-3.col-xs-6.about-block
          .package
            .img
              img(src='images/pphone.png')
            h6 CONTINUOUS SUPPORT
            p
              | Our qualified agents will assist you throughout the entire process to ensure that you get the
              | highest quality service.
        .col-md-3.col-xs-6.about-block
          .package
            .img
              img(src='images/pcog.png')
            h6 QUICK AND EASY PROCEDURE
            p
              | We make the process of company formation or bank account opening quick and simple.
        .col-md-3.col-xs-6.about-block
          .package
            .img
              img(src='images/pprice.png')
            h6 COMPETITIVE PRICING
            p Our goal is to provide you with the best possible prices with no hidden cost.
      .row.last-in-row
        .col-md-6.col-sm-6
          a(href='index.html#')
            img(src='images/pack1.png')
        .col-md-6.col-sm-6
          a(href='index.html#')
            img(src='images/pack2.png')

  
