extends ../layouts/default

block content
  - var icons = '/images/document.png';

  section.packages.first
    .container
      .row
        .col-md-12
          .title
            h2
              span Start-Up Packs
            p
              | If you are just starting your business and looking for suitable and affordable corporate
              | solutions,
              | we
              | are here to help! Starting Business offers time and money saving services as well as expert
              | advice
              | to
              | help start your international business. Our Start-Up Packs have been tailored to specific
              | business
              | activities and include all the services that most businesses need to get up and running.
      .row
        .col-md-3
          .package
            .img
              img(src=icons)
            h6 Documents for Starting and Running Your Business
            ul
              li Downloadable Word and Excel forms
              li Start a Business
              li Hire Contractors
              li Manage your Finances
            h5
              | $95 
              span VALUE $1302
            button.btn.btn-green Learn More
        .col-md-3
          .package
            .img
              img(src=icons)
            h6 Corporate Forms & Documents for Cyprus Company
            ul
              li Downloadable Word format forms
              li Establish your Cyprus company
              li Manage your business
              li Keep accurate records
            h5
              | $99 
              span VALUE $680
            button.btn.btn-green Learn More
        .col-md-3
          .package
            .img
              img(src=icons)
            h6 HR & Employment Forms, Contracts & Letters
            ul
              li Downloadable Word format
              li Ready-to-complete forms
              li Suites every type & size of business
              li With helpful hints
            h5
              | $99 
              span VALUE $1733
            button.btn.btn-green Learn More
        .col-md-3
          .package
            .img
              img(src=icons)
            h6 Samples of Business Letters and Forms
            ul
              li Downloadable Word Format
              li Business communication Forms
              li Formal business correspondence
              li Employment Letters
            h5
              | $95 
              span VALUE $626
            button.btn.btn-green Learn More
