section.call-us
  .container
    .row
      .col-md-8.col-sm-12
        h4 Sign up to our Newsletters
        .block
          .image
            img(src='/images/ccash.png')
          .desc
            h5
              | GET 
              span 10% DISCOUNT
            p On your next purchase once subscribed
          .button
            button.btn.btn-green Subscribe
      .col-md-4.col-sm-12
        h4 Need Assistance?
        .info
          .image
            img(src='/images/cphone.png')
          .desc
            p +44 (0) 203-519-1398
            span Mon-Fri 8am-6pm EET
        .info
          .image
            img(src='/images/cmail.png')
          .desc
            p sales@startingbusiness.com
            span 1 business day response
