footer
  .container
    img.footer-logo(src='//images/logo_footer.png')
    ul
      li
        a(href='index.html#') About
      li
        a(href='index.html#') Affiliates
      li
        a(href='index.html#') Author Log In
      li
        a(href='index.html#') Contact
      li
        a(href='index.html#') Disclaimer
      li
        a(href='index.html#') Partners
      li
        a(href='index.html#') FAQ
      li
        a(href='index.html#') Payfor Services
      li
        a(href='index.html#') Privacy Policy
      li
        a(href='index.html#') Terms of Business
      li
        a(href='index.html#') Terms of Use
    .logos
      .social-links
        a(href='index.html#')
          img(src='/images/facebook.png')
        a(href='index.html#')
          img(src='/images/twitter.png')
        a(href='index.html#')
          img(src='/images/google.png')
      .payment-cards(style='display: none;')
        a(href='index.html#')
          img(src='/images/cards.png')
      .other-logos
        a(href='index.html#')
          img(src='/images/trust.png')
        a(href='index.html#')
          img(src='/images/pci.png')
        a(href='index.html#')
          img(src='/images/verified.png')
        a(href='index.html#')
          img(src='/images/paypal.png')
        a(href='index.html#')
          img(src='/images/mastercard.png')
        a.card-dekatop(href='index.html#')
          img(src='/images/cards.png')
      .other-logos-samll(style='display: none;')
        a(href='index.html#')
          img(src='/images/verified.png')
        a(href='index.html#')
          img(src='/images/paypal.png')
        a(href='index.html#')
          img(src='/images/mastercard.png')
        br(style='\
        display: none;\
        ')
        a(href='index.html#')
          img(src='/images/trust.png', style='\
          width: 100px;\
          ')
        a(href='index.html#')
          img(style=' width: 165px;', src='/images/pci.png')
    p
      | Credit card payments collected by DELTAQUEST Media (Ireland) Ltd, Company No IE548227, Registered address:
      | The Black Church, St. Mary's Place, Dublin 7, Ireland
    p
      | © 2017 StartingBusiness PTE LTD. All rights reserved. StartingBusiness and the StartingBusiness Logo are
      | registered trademarks of the StartingBusiness PTE LTD. In association with DeltaQuest Group.
