.container
  .title(style="margin-top: 40px")
    span Documents &gt; Affidavits &amp; Verification
    |                 
    a(href='#') &lt; Back to Documents
  |    
  .row
    .col-md-2.img
      img(src='images/97b93263604b9e9099a17d19e742cd6f.jpg')
      |                     
      button.btn.btn-gray
        i.fa.fa-search
        |  
        span Full View
    |                 
    .col-md-7.doc
      h2 Affidavit for Company Strike Off
      |                     
      p
        | Affidavit is a written statement confirmed by oath or affirmation. It can be used as an evidence
        | in courts. This particular affidavit confirms the strike off of a company.
        br
        |                         Commonly used in country/region: Cyprus/EU
      |                     
      p Document Details &amp; Preview
      |                     
      ul
        li
          strong Size:
          |  28KB
        |                         
        li
          strong Format:
          |  doc
        |                         
        li
          strong Languages:
          |  EN
        |                         
        li
          strong Pages:
          |  1
        |                         
        li
          strong Category:
          |  Affidavits &amp; Verification
        |                         
        li
          strong Last Update:
          |  20th January, 2016
      |                     
      p
        | PLEASE NOTE: The contents of samples of forms and documents are not intended to provide legal,
        | accounting or other professional advice and should not be relied upon as such. These samples
        | provide a general overview of legal information and are aimed for our clients who choose to
        | prepare their own documents. The content of the samples are NOT a substitute for the Advice of
        | an Attorney/Solicitor. It is advised to seek guidance from a professional before using or acting
        | upon sample content to determine its suitability in regards to your circumstances.
      |                     
      p
        | If you require customization of this document by a legal practitioner or translation of this
        | document into a language other than English, please 
        a(href='#') contact us
        |  for further
        |                         information and a
        |                         quote.
    |                 
    .col-md-3
      .box
        h3
          | PRICE 
          span $7
        |                         
        button.btn.brn-green
          | Add to Cart 
          i.fa.fa-shopping-cart
  |     