footer
  .container
    img.logo.footer-img(src='images/logo_footer.png')
    ul
      li
        a(target='_blank', href='https://www.startingbusiness.com/about', title='About Us') About
      li
        a(target='_blank', href='https://www.startingbusiness.com/affiliates', title='Affiliates') Affiliates
      li
        a(href='/feedback/contact', title='Contact') Contact
      li
        a(target='_blank', href='https://www.startingbusiness.com/disclaimer', title='Disclaimer') Disclaimer
      li
        a(href='/privacy-policy', title='Privacy Policy') Privacy
      li
        a(href='/terms-of-use', title='Terms of Use') Terms of Use
      li
        a(href='/write-for-us', title='Write For Us') Write For Us
      li
        a(href='/sign_in', title='Author Login') Author Login
    .logos
      .social-links
        a(href='#')
          img(src='images/facebook.png')
        a(href='#')
          img(src='images/twitter.png')
        a(href='#')
          img(src='images/google.png')
        a(href='#')
          img(src='images/rss.png')
    p © 2017 Copyright Starting Business Ltd. Designed and maintained by Milos Antic
