//-
	Forms
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "login" | "join" | "password"
	* from - specify a page
	
include form-join
include form-password
include form-reset
include form-login

mixin auth-forms(args)
	if args.modal
		+form-login(args)
		+form-join(args)
		+form-password(args)
			
	else
		if args.initial == 'join'
			+form-join(args)
		else if args.initial == 'password'
			+form-password(args)
		else if args.initial == 'reset'
			+form-reset(args)
		else
			+form-login(args)
	
